*, *::before, *::after{
    box-sizing: border-box;
}

:root{
    --colour-dark: rgb(11, 13, 23);
    --colour-primary: rgb(208, 214, 249);
}

html{
    font-size: 62.5%;;
}


body{
    font-family: 'Barlow', sans-serif;
    font-size: 1.8rem;
    color: var(--colour-primary);
    width: 100%;
    height: 100%;
    background-color: rgb(11, 0, 49);
}

.rootDiv{
    background-color: rgb(11, 0, 49);
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0px;
    
}

#home{
    background-image: url("./assets/home/background-home-mobile.jpg");
    background-size: 105%;
}

#destination{
    background-image: url("./assets/destination/background-destination-mobile.jpg");
    background-size: 105%;
}

#crew{
    background-image: url("./assets/crew/background-crew-mobile.jpg");
    background-size: 105%;
    overflow: hidden;
}

#technology{
    background-image: url("./assets/technology/background-technology-mobile.jpg");
    background-size: 105%;
}

h1, h2, h3, h4, .subheading1{
    font-family: 'Bellefair', serif;
}

h5, .subheading2{
    font-family: 'Barlow Condensed', sans-serif;
    color: #d0d6f9;
    text-align: center;
}

h1{
    font-size: 8rem;
    color: #ffffff;
    font-weight: 400;
}

h2{
    font-size: 10rem;
}

h3{
    font-size: 5.6rem;
}

h4{
    font-size: 3.2rem;
}

h5{
    font-size: 2.8rem;
}

/* Navigation bar */
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 2.4rem 2rem 2rem 2rem;
    transition: all 0.2s;
}

.underlineDiv{
    display: none;
}

.navItems{
    position: relative;
}

.logo{
    height: 4rem;
    width: 4rem;
    cursor: pointer;
}

.hamburgerButton{
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0);
    border: 0;
    outline: 0;
    display: inline;
}

.hamburger{
    height: 2.1rem;
    width: 2.4rem;
    filter: brightness(80%);
    transition: all 0.2s;
}

.hamburger:hover{
    filter: brightness(100%);
}

li, a {
    text-decoration: none;
    list-style-type: none;
    color: var(--colour-primary);
}

@media screen and (max-width: 768px) {
    .navItemsContainer{
        width: 0;
    }
}

.expanded .xButton{
    display: block;
}

.xButton{
    display: none;
    position: relative;
    top: 30px;
    left: 210px;
    border: 0;
    outline: 0;
    background-color: rgb(0, 0, 0, 0);
    font-size: 4rem;
    color: var(--colour-primary);
}

.navItemsContainer{
    padding: 0;
    position: absolute;
    z-index: 3;
    top: -18px;
    right: 0;
    min-height: 102%;
    margin-bottom: 0;
    padding-bottom: 0;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
}

.navItems{
    margin-top: 12rem;
    z-index: 4;
    min-height: 102%;
}

.expanded .navItemsContainer{
    width: 70%;
}

.expanded .navItems li{
    display: block;
}

.navItems li{
    display: none;
    margin-top: 5rem;
    margin-left: 1rem;
}

.navBar .navItems li p{
    display: inline;
    margin-right: 1rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2.2rem;
    transition: all 0.2s;
    font-weight: 600;
}

.navItems li:hover p{
    color: white;
}

.navItems li a{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2.2rem;
    transition: all 0.2s;
}

.navItems li a:hover{
    color: #ffffff;
}

.navBar .navItems li{
    position: relative;
}


@media screen and (min-width: 768px) {
    #home{
        background-image: url("./assets/home/background-home-tablet.jpg");
        background-size: 105%;
    }

    #destination{
        background-image: url("./assets/destination/background-destination-tablet.jpg");
        background-size: 105%;
    }
    
    #crew{
        background-image: url("./assets/crew/background-crew-tablet.jpg");
        background-size: 105%;
    }
    
    #technology{
        background-image: url("./assets/technology/background-technology-tablet.jpg");
        background-size: 105%;
    }      

    .hamburgerButton{
        display: none;
    }

    .xButton{
        display: none;
    }

    .expanded .xButton{
        display: none;
    }

    .navBar .navItems li p {
        display: none;
    }

    .logo{
        height: 4.8rem;
        width: 4.8rem;
        display: inline;
        margin-left: 4rem;
        margin-top: 2.4rem;
    }

    .navBar{
        padding: 0;
    }

    .navItemsContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 9.6rem;
        margin-right: 0;
        position: static; 
         width: 45rem;
    }

    .expanded .navItemsContainer{
        width: 45rem;
    }
    
    .navItems{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        max-height: 9.6rem;
        margin: 0;
        padding: 0;
    }

    .underlineDiv{
        display: block;
        position: absolute;
        bottom: 0;
        height: 3px;
        background-color: white;
        transition: all 0.2s;
    }

    .home .underlineDiv{
        left: 5%;
        width: 9%;
    }

    .destination .underlineDiv{
        left: 24%;
        width: 21%;
    }

    .crew .underlineDiv{
        left: 55%;
        width: 9%;
    }

    .technology .underlineDiv{
        left: 75%;
        width: 20%;
    }

    .navItems li{
        display: block;
        margin: 1rem 22px;
    }

    .navItems li a{
        font-size: 1.4rem;
        letter-spacing: 2.3625px;
        color: #FFFFFF;
    }
    
}

@media screen and (min-width: 1180px) {
    #home{
        background-image: url("./assets/home/background-home-desktop.jpg");
        background-size: 132%;
    }

    #destination{
        background-image: url("./assets/destination/background-destination-desktop.jpg");
        background-size: 132%;
    }
    
    #crew{
        background-image: url("./assets/crew/background-crew-desktop.jpg");
        background-size: 132%;
    }
    
    #technology{
        background-image: url("./assets/technology/background-technology-desktop.jpg");
        background-size: 132%;
    }
}

@media screen and (min-width: 1440px) {
    #home{
        background-image: url("./assets/home/background-home-desktop.jpg");
        background-size: 100%;
    }

    #destination{
        background-image: url("./assets/destination/background-destination-desktop.jpg");
        background-size: 100%;
    }
    
    #crew{
        background-image: url("./assets/crew/background-crew-desktop.jpg");
        background-size: 100%;
    }
    
    #technology{
        background-image: url("./assets/technology/background-technology-desktop.jpg");
        background-size: 100%;
    }

    .logo{
        margin-left: 4rem;
        margin-top: 6.2rem;
    }

    h1{
        font-size: 15rem;
    }

    .navItemsContainer{
        width: 83rem;
        margin-top: 4rem;
    }
    
    .navItems li a{
        font-size: 2rem;
    }

    .navBar .navItems li p{
        display: inline;
        margin-right: 1.5rem;
        color: white;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 2rem;
        font-weight: 600;
    }

    .home .underlineDiv{
        left: 3.5%;
        width: 13%;
    }

    .destination .underlineDiv{
        left: 24%;
        width: 22%;
    }

    .crew .underlineDiv{
        left: 54%;
        width: 12%;
    }

    .technology .underlineDiv{
        left: 73.5%;
        width: 23%;
    }

    .firstHeading{
        margin-top: 25rem;
        text-align: left;
    }

    .navBar::after{
        position: absolute;
        content: "";
        background-color: rgb(255, 255, 255, 0.3);
        top: 8.5rem;
        right: 920px;
        width: 500px;
        height: 2px;
    }
}

/* Hero */
.texBox{
    text-align: center;
    margin: 0rem 3rem;
    margin-bottom: 8.5rem;
}

.firstHeading{
    margin-top: 4rem;
    margin-bottom: 3.8rem;
    font-size: 1.6rem;
}

.spaceHeading{
    margin: 0 0;
    margin-bottom: 4.5rem;
}

.explore{
    margin: 0 auto;
    text-align: center;
    background-color: white;
    width: 170px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    transition: all 0.3s;
    cursor: pointer;
    outline: 1px solid rgb(255, 255, 255, 0.4);
}



.explore:hover{
    outline: 45px solid rgb(255, 255, 255, 0.4);
}

.explore p a{
    color: black;
    font-size: 2rem;
}

@media screen and (min-width: 768px) {
    .texBox{
        margin: 0 auto;
        margin-top: 11rem;
        margin-bottom: 15.5rem;
        width: 450px;
    }

    .firstHeading{
        font-size: 2rem;
    }

    .spaceHeading{
        font-size: 15rem;
    }

    .texBox p{
        font-size: 1.6rem;
        line-height: 1.5;
    }

    .explore{
        width: 240px;
        height: 240px;
    }

    .explore p a{
        font-size: 3.2rem;
        line-height: 37px;
        letter-spacing: 2px;
    }

    .explore:hover{
        outline: 65px solid rgb(255, 255, 255, 0.4);
    }
}

@media screen and (min-width: 1440px) {
    .texBox{
        margin-left: 165px;
    }

    .hero{
        margin-top: 6rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .texBox p{
        text-align: left;
        line-height: 1.7;
    }

    .explore{
        margin-top: 260px;
    }
}

/* Destination page */

.pickYourDestinationNumber{
    font-size: 1.6rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    color: rgb(102, 99, 99);
    letter-spacing: 2.72px;
    opacity: 0.8;
    display: inline;
    margin-right: 1rem;
}

.pickYourDestination{
    font-size: 1.6rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: normal;
    color: white;
    line-height: 19px;
    letter-spacing: 2.7px;
    display: inline;
}

.pickYourDestinationBox{
    margin-top: 0rem;
    margin-bottom: 3.2rem;
}

.plannetImage{
    width: 170px;
    height: 170px;    
}

.plannetSelectNav{
    margin-bottom: 2.4rem;
}

.navPlannetItems{
    display: flex;
    justify-content: center;
    padding: 0;
    position: relative;
    width: 23.75rem;
    margin: 0 auto;
}

.navPlannetItems li{
    margin-top: 1rem;
    margin-left: 1rem;
    position: relative;
}

.navPlannetItems li a{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2.2rem;
    transition: all 0.2s;
}

.navPlannetItems li a:hover{
    color: #ffffff;
}

.underlineDivPlannets{
    position: absolute;
    background-color: #ffffff;
    top: 4rem;
    height: 3px;
    transition: all 0.2s;
}

.MOON .underlineDivPlannets{
    left: 6.5%;
    width: 19.5%;
}

.MARS .underlineDivPlannets{
    left: 29%;
    width: 18.5%;
}

.EUROPA .underlineDivPlannets{
    left: 50%;
    width: 25.5%;
}

.TITAN .underlineDivPlannets{
    left: 79%;
    width: 19.5%;
}

.imageBox{
    text-align: center;
    margin: 0rem 3rem;
    margin-bottom: 2.6rem;
}

.planetHeading{
    margin: 0;
    text-align: center;
    font-size: 5.6rem;
}

.infoText{
    font-size: 1.5rem;
    line-height: 25px;
    text-align: center;
    margin: 1px 2.4rem;
    margin-bottom: 3.2rem;
}

.infoTextLine{
    width: 327px;
    height: 1px;
    background: #4b4a4a;
    margin: 0 auto;
}

.estTravelTimeTextBox{
    padding-bottom: 58px;
}

.distanceTextBox h4{
    font-family: 'Barlow Condensed';
    font-weight: 400;
    font-size: 1.4rem;
    text-align: center;
    letter-spacing: 2.36px;
    color: #D0D6F9;
}

.distanceTextBox p{
    font-family: 'Bellefair';
    font-size: 2.8rem;
    text-align: center;
    color: #FFFFFF;
}

.estTravelTimeTextBox h4{
    font-family: 'Barlow Condensed';
    font-weight: 400;
    font-size: 1.4rem;
    text-align: center;
    letter-spacing: 2.36px;
    color: #D0D6F9;
}

.estTravelTimeTextBox p{
    font-family: 'Bellefair';
    font-size: 2.8rem;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (min-width: 768px) {
    .pickYourDestinationNumber{
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 3.375px;
    }
    
    .pickYourDestination{
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 3.375px;
    }
    
    .pickYourDestinationBox{
        text-align: left;
        margin-left: 1.4rem;
        margin-top: 4rem;
        margin-bottom: 6rem;
    }
    
    .plannetImage{
        width: 300px;
        height: 300px;
        margin-bottom: 5.6rem;
    }
    
    .plannetSelectNav{
        margin-bottom: 3.2rem;
    }
    
    .navPlannetItems li a{
        font-size: 1.6rem;
        letter-spacing: 2.7px;
    }
    
    .planetHeading{
        font-size: 8rem;
        margin-bottom: 0.8rem;
    }
    
    .infoText{
        font-size: 1.6rem;
        line-height: 28px;
        margin: 1px 9.8rem;
        margin-bottom: 4.9rem;
    }
    
    .infoTextLine{
        width: 573px;
    }
    
    .estTravelTimeTextBox{
        padding-bottom: 0;
    }
    
    footer{
        display: grid;
        grid-template-columns: 50% 50%;
        width: 573px;
        margin: 0 auto;
        padding-bottom: 1rem;
    }
}

@media screen and (min-width: 1440px) {
    .hero{
        margin-top: 20px;
    }

    .imageBox{
        margin-left: 160px;
        text-align: left;
    }
    .pickYourDestinationNumber{
        font-size: 2.8rem;
        letter-spacing: 4.725px;
        margin-top: 7.6rem;
    }
    
    .pickYourDestination{
        font-size: 2.8rem;
        letter-spacing: 4.725px;
        margin-top: 7.6rem;
    }
    
    .plannetImage{
        margin-top: 40px;
        margin-left: 50px;
        width: 445px;
        height: 445px;
    }

    .plannetBox{
        height: 445px;
        width: 472px;
        margin-top: 160px;
        transform: translate(100px);
    }

    .underlineDivPlannets{
        top: 3rem;
    }

    .MOON .underlineDivPlannets{
        left: 3%;
        width: 18%;
    }
    
    .MARS .underlineDivPlannets{
        left: 26%;
        width: 17.5%;
    }
    
    .EUROPA .underlineDivPlannets{
        left: 49.5%;
        width: 24%;
    }
    
    .TITAN .underlineDivPlannets{
        left: 79%;
        width: 19.5%;
    }

    .navPlannetItems{
        display: inline;
    }

    .navPlannetItems li{
        display: inline;
    }
    
    .navPlannetItems li a{
        font-size: 1.8rem;
        margin-right: 0.8rem;
        letter-spacing: 2.7px;
        display: inline;
    }
    
    .planetHeading{
        font-size: 9rem;
        margin-bottom: 0.8rem;
        text-align: left;
    }
    
    .infoText{
        margin-left: 0;
        font-size: 1.8rem;
        width: 100%;
        text-align: left;
    }
    
    .infoTextLine{
        width: 100%;
    }

    .distanceTextBox h4{
        text-align: left;
    }

    .estTravelTimeTextBox h4{
        text-align: left;
    }

    .distanceTextBox p{
        text-align: left;
    }

    .estTravelTimeTextBox p{
        text-align: left;
    }

    .distanceTextBox{
        width: 45%;
    }

    .estTravelTimeTextBox{
        width: 45%;
    }
    
    footer{
        display: flex;
        width: 573px;
        margin: 0 auto;
        padding-bottom: 1rem;
    }
}

/* Crew */
.containerStylesDesktop.crewPage{
    display: none;
}
.crewImage{
    height: 223px;
    top: -240px;
    position: absolute;
    transform: translate(-50%);
    left: 50%
}


.dotsContainerStylesNumber.mobile{
    margin: 0;
    padding: 0;
}

.containerStylesMobile.crewPage{
    margin-bottom: 0;
    padding: 0;
}

.titleHeading{
    font-weight: 400;
    font-size: 1.6rem;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.5;
    margin-top: 6rem;
}

.crewHeading{
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.infoTextCrew{
    position: relative;
    font-size: 1.5rem;
    line-height: 25px;
    text-align: center;
    margin: 1px 2.4rem;
    margin-bottom: 3.2rem;
    z-index: 1;
}

@media screen and (min-width: 768px) and (min-height: 415px) {
    .crewBox{
        margin-top: 0;
    }
    
    .titleHeading{
        font-size: 2.4rem;
        margin-top: 0rem;
    }
    
    .crewHeading{
        font-size: 4rem;
        line-height: 46px;
    }

    .infoTextCrew{
        font-size: 1.6rem;
        line-height: 2.8rem;
        margin-left: auto;
        margin-right: auto;
        width: 45.8rem;
        padding-bottom: 55rem;
    }

    .infoTextLine{
        display: none;
    }

    .crewImage{
        height: 572px;
    }

    .containerStylesMobile.crewPage{
        position: absolute;
        top: 56rem;
        z-index: 5;
    }

    .dotsContainerStylesNumber.mobile{
        position: absolute;
        top: 48rem;
        z-index: 5;
    }
}


@media screen and (min-width: 1280px) {
    .infoTextLine{
        display: none;
    }

    .titleHeading{
        text-align: left;
        margin-top: 15.4rem;
        line-height: 37px;
        font-size: 3.2rem;
    }
    
    .crewHeading{
        text-align: left;
        font-size: 56px;
        line-height: 6.4rem;
        margin-top: 1.5rem;
        margin-bottom: 2.7rem;
    }

    .infoTextCrew{
        text-align: left;
        margin-left: 0;
        font-size: 1.8rem;
        line-height: 32px;
        width: 44.4rem;
        padding-bottom: 0;
    }

    .textGrid{
        margin-left: 160px;
    }

    .buttonsAndText.Crew{
        display: block;
    }

    .containerStylesDesktop.crewPage{
        display: block;
        margin-left: auto;
        margin-right: 137px;
    }
}


/* Carousel Crew*/
.dotsContainerStylesCrew.desktop{
    display: none;
}

.sliderStyles{
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

.dot{
    margin: 0 7px;
    margin-top: 14px;
    cursor: pointer;
    font-size: 20px;
    color: rgb(255, 255, 255, 0.5);
}

.activeDot{
    transition: all 0.5s;
    color: rgb(255, 255, 255, 1);
}

.dotsContainerStyles{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media screen and (min-width: 900px) {
    .containerStylesMobile.crewPage{
        width: 60%;
        margin: 0 auto;
        transform: translate(30%);
    }
}

@media screen and (min-width: 1280px) {
    .containerStylesMobile{
        display: none;
    }
    .dotsContainerStylesCrew.desktop{
        display: flex;
    }

    .mobile.dotsContainerStylesNumber{
        display: none;
    }

    .crewGrid{
        display: flex;
        width: 98vw;
    }

    .dot{
        font-size: 3rem;
    }
}

/* Technology Page  */
.titleHeading.techPage{
    margin-top: 2rem;
    letter-spacing: 2.3625px;
    color: #D0D6F9;
    font-size: 1.4rem;
    opacity: 1;
    transform: translateX();
}

.infoTextTech{
    position: relative;
    font-size: 1.5rem;
    line-height: 25px;
    text-align: center;
    margin: 1px 2.4rem;
    margin-bottom: 3.2rem;
    z-index: 1;
}

/* Image Carousel Technology Page */
.desktop.dotsContainerStylesNumber{
    display: none;
}

.containerStylesDesktop.techPage{
    display: none;
}

.dotsContainerStylesNumber.mobile.techPage{
    margin-top: 3.4rem;
    position: static;
}

.textGridTech{
    margin-top: 12rem;
}

.dotNumber{
    margin: 0 7px;
    margin-top: 14px;
    cursor: pointer;
    font-size: 20px;
    color: rgb(255, 255, 255, 0.5);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    border: 1px solid rgb(255, 255, 255, 0.5);
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.dotNumber:hover{
    border: 1px solid rgb(255, 255, 255, 0.9);
}

.activeDotNumber{
    transition: all 0.5s;
    color: rgb(0, 0, 0);
    background-color: white;
    /* border: none; */
}

.dotsContainerStylesNumber{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: static;
}




@media screen and (min-width: 768px) {

    .textGridTech{
        margin-top: 14rem;
    }

    .infoTextTech{
        font-size: 1.6rem;
        line-height: 2.8rem;
        margin-left: auto;
        margin-right: auto;
        width: 45.8rem;
    }

    .containerStylesMobile.techPage{
        margin-bottom: 10rem;
    }

    .dotsContainerStylesNumber{
        margin-top: 15px;
        margin-bottom: 44px;
    }
}

@media screen and (min-width: 1280px) {
    .infoTextTech{
        text-align: left;
        margin-left: 0;
        font-size: 1.8rem;
        line-height: 32px;
        width: 44.4rem;
        padding-bottom: 0;
    }

    .textGridTech{
        margin-top: 0rem;
    }

    .buttonsAndText{
        display: flex;
    }

    .techTextGrid{
        margin-left: 165px;
        margin-top: 0;
    }

    .textGridTech{
        margin-left: 80px;
    }

    .techGrid{
        display: flex;
        align-items: start;
        justify-content: start;
    }

    .containerStylesDesktop.techPage{
        display: block;
        margin-left: auto;
    }

    .dotsContainerStylesNumber{
        flex-direction: column;
    }

    .dotNumber{
        font-size: 2rem;
        width: 8rem;
        height: 8rem;
    } 
    
    .desktop.dotsContainerStylesNumber{
        display: block;
    }

    .mobile.dotsContainerStylesNumber{
        display: none;
    }
    
}