*, *::before, *::after{
    box-sizing: border-box;
    /* outline: 1px solid white; */
}

:root{
    --colour-dark: rgb(11, 13, 23);
    --colour-primary: rgb(208, 214, 249);
}

html{
    font-size: 62.5%;
}


body{
    font-family: 'Barlow', sans-serif;
    font-size: 1.8rem;
    /* background-image: url("./assets/home/background-home-mobile.jpg"); */
    background-color: rgb(5, 5, 32);
    background-size: 105%;
    color: var(--colour-primary);
}

h1, h2, h3, h4, .subheading1{
    font-family: 'Bellefair', serif;
}

h5, .subheading2{
    font-family: 'Barlow Condensed', sans-serif;
    color: #d0d6f9;
    text-align: center;
}

h1{
    font-size: 8rem;
    color: #ffffff;
    font-weight: 400;
}

h2{
    font-size: 10rem;
}

h3{
    font-size: 5.6rem;
}

h4{
    font-size: 3.2rem;
}

h5{
    font-size: 2.8rem;
}

/* Navigation bar */
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 2.4rem 2rem 2rem 2rem;
    /* background-color: rgb(255, 255, 255, 0.0390); */
    transition: all 0.2s;
}

.navBar.expanded{
    height: 22.5rem;
}

.logo{
    height: 4rem;
    width: 4rem;
}

.hamburgerButton{
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0);
    border: 0;
    outline: 0;
    display: inline;
}

.hamburger{
    height: 2.1rem;
    width: 2.4rem;
    filter: brightness(80%);
    transition: all 0.2s;
}

.hamburger:hover{
    filter: brightness(100%);
}

li, a {
    text-decoration: none;
    list-style-type: none;
    color: var(--colour-primary);
}

.navItems{
    position: absolute;
    top: 5rem;
    display: none;
}

.navItems li{
    margin-top: 1rem;
    margin-left: 1rem;
}

.navItems li a{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2.2rem;
    transition: all 0.2s;
}

.navItems li a:hover{
    color: #ffffff;
}

.expanded .navItems{
    display: block;
}

.navBar .navItems li{
    position: relative;
}

.navBar .navItems .active::after{
    position: absolute;
    content: "";
    background-color: #ffffff;
    top: 27px;
    left: 0px;
    right: 0px;
    width: 50px;
    height: 3px;
}

.navBar .navItems li p{
    display: none;
}

@media screen and (min-width: 768px) {
    body{
        /* background-image: url("./assets/home/background-home-tablet.jpg"); */
        background-size: 108%;
    }

    .hamburgerButton{
        display: none;
    }

    .logo{
        height: 4.8rem;
        width: 4.8rem;
        display: inline;
        margin-left: 4rem;
        margin-top: 2.4rem;
    }

    .navBar{
        background-color: rgb(255, 255, 255, 0);
        display: flex;
        margin: 0;
        padding: 0;
    }

    .navItems{
        margin: 0;
        position: static;
        display: flex;
        background-color: rgb(255, 255, 255, 0.05);
        width: 50rem;
        padding: 2rem 2rem;
    }

    .navItems li{
        margin: 1rem 22px;
    }

    .navBar .navItems .active::after{
        content: "";
        background-color: #ffffff;
        top: 52px;
        right: 0px;
        width: 50px;
        height: 3px;
    }
}

/* @media screen and (min-width: 1180px) {
    body{
        background-image: url("./assets/home/background-home-desktop.jpg");
        background-size: 132%;
    }
} */

@media screen and (min-width: 1440px) {
    /* body{
        background-image: url("./assets/home/background-home-desktop.jpg");
        background-size: 100%;
    } */

    .logo{
        margin-left: 4rem;
        margin-top: 2rem;
    }

    h1{
        font-size: 15rem;
    }

    .navItems li a{
        font-size: 2rem;
    }

    .navBar .navItems li p{
        display: inline;
        margin-right: 1.5rem;
        color: white;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 2rem;
        font-weight: 600;
    }

    .navBar{
        margin-top: 4rem;
        height: 9.6rem;
        position: relative;
    }

    .navBar .navItems{
        width: 95rem;
        margin-right: 0;
        padding-left: 100px;
    }


    .firstHeading{
        margin-top: 25rem;
        text-align: left;
    }

    .navBar::after{
        position: absolute;
        content: "";
        background-color: rgb(255, 255, 255, 0.3);
        top: 42px;
        right: 920px;
        width: 500px;
        height: 2px;
    }
    
    .navBar .navItems li a{
        margin-right: 40px;
    }

    .navBar .navItems .active::after{
        right: 0;
        width: 85px;
    }
}

/* Hero */
.texBox{
    text-align: center;
    margin: 0rem 3rem;
    margin-bottom: 8.5rem;
}

.firstHeading{
    margin-top: 4rem;
    margin-bottom: 3.8rem;
    font-size: 1.6rem;
}

.spaceHeading{
    margin: 0 0;
    margin-bottom: 4.5rem;
}

.explore{
    margin: 0 auto;
    text-align: center;
    background-color: white;
    width: 170px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    transition: all 0.3s;
    cursor: pointer;
    outline: 0;
}

.explore:hover{
    outline: 45px solid rgb(255, 255, 255, 0.4);
}

.explore p{
    color: black;
    font-size: 2rem;
}

@media screen and (min-width: 768px) {
    .texBox{
        margin: 0 auto;
        margin-top: 11rem;
        margin-bottom: 15.5rem;
        width: 450px;
    }

    .firstHeading{
        font-size: 2rem;
    }

    .spaceHeading{
        font-size: 15rem;
    }

    .texBox p{
        font-size: 1.6rem;
        line-height: 1.5;
    }

    .explore{
        width: 240px;
        height: 240px;
    }

    .explore p{
        font-size: 3.2rem;
    }

    .explore:hover{
        outline: 65px solid rgb(255, 255, 255, 0.4);
    }
}

@media screen and (min-width: 1440px) {
    .texBox{
        margin-left: 165px;
    }

    .hero{
        margin-top: 6rem;
        /* outline: 1px solid wheat; */
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .texBox p{
        text-align: left;
        line-height: 1.7;
    }

    .explore{
        margin-top: 260px;
    }
}

/* Destination page */

.pickYourDestinationNumber{
    font-size: 1.6rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    color: rgb(102, 99, 99);
    letter-spacing: 2.72px;
    opacity: 0.8;
    display: inline;
    margin-right: 1rem;
}

.pickYourDestination{
    font-size: 1.6rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: normal;
    color: white;
    line-height: 19px;
    letter-spacing: 2.7px;
    display: inline;
}

.pickYourDestinationBox{
    margin-top: 2.4rem;
    margin-bottom: 3.2rem;
}

.plannetImage{
    width: 170px;
    height: 170px;    
}

.plannetSelectNav{
    margin-bottom: 2.4rem;
}

.navPlannetItems{
    display: flex;
    justify-content: center;
    padding: 0;
}

.navPlannetItems li{
    margin-top: 1rem;
    margin-left: 1rem;
    position: relative;
}

.navPlannetItems li a{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2.2rem;
    transition: all 0.2s;
}

.navPlannetItems li a:hover{
    color: #ffffff;
}

.navPlannetItems .active::after{
    position: absolute;
    content: "";
    background-color: #ffffff;
    top: 27px;
    left: 0px;
    width: 40px;
    height: 3px;
}

.imageBox{
    text-align: center;
    margin: 0rem 3rem;
    margin-bottom: 2.6rem;
}

.planetHeading{
    margin: 0;
    text-align: center;
    font-size: 5.6rem;
}

.infoText{
    font-size: 1.5rem;
    line-height: 25px;
    text-align: center;
    margin: 1px 2.4rem;
    margin-bottom: 3.2rem;
}

.infoTextLine{
    width: 327px;
    height: 1px;
    background: #383B4B;
    margin: 0 auto;
    margin-bottom: 32px;
}

.estTravelTimeTextBox{
    padding-bottom: 58px;
}

.distanceTextBox h4{
    font-family: 'Barlow Condensed';
    font-weight: 400;
    font-size: 1.4rem;
    text-align: center;
    letter-spacing: 2.36px;
    color: #D0D6F9;
}

.distanceTextBox p{
    font-family: 'Bellefair';
    font-size: 2.8rem;
    text-align: center;
    color: #FFFFFF;
}

.estTravelTimeTextBox h4{
    font-family: 'Barlow Condensed';
    font-weight: 400;
    font-size: 1.4rem;
    text-align: center;
    letter-spacing: 2.36px;
    color: #D0D6F9;
}

.estTravelTimeTextBox p{
    font-family: 'Bellefair';
    font-size: 2.8rem;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (min-width: 768px) {
    .pickYourDestinationNumber{
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 3.375px;
    }
    
    .pickYourDestination{
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 3.375px;
    }
    
    .pickYourDestinationBox{
        text-align: left;
        margin-left: 1.4rem;
        margin-top: 4rem;
        margin-bottom: 6rem;
    }
    
    .plannetImage{
        width: 300px;
        height: 300px;
        margin-bottom: 5.6rem;
    }
    
    .plannetSelectNav{
        margin-bottom: 3.2rem;
    }
    
    .navPlannetItems li a{
        font-size: 1.6rem;
        letter-spacing: 2.7px;
    }
    
    .planetHeading{
        font-size: 8rem;
        margin-bottom: 0.8rem;
    }
    
    .infoText{
        font-size: 1.6rem;
        line-height: 28px;
        margin: 1px 9.8rem;
        margin-bottom: 4.9rem;
    }
    
    .infoTextLine{
        width: 573px;
    }
    
    .estTravelTimeTextBox{
        padding-bottom: 0;
    }
    
    footer{
        display: grid;
        grid-template-columns: 50% 50%;
        width: 573px;
        margin: 0 auto;
        padding-bottom: 1rem;
    }
}

@media screen and (min-width: 1440px) {
    *{
        /* outline: 1px solid white; */
    }

    .hero{
        margin-top: 20px;
    }

    .imageBox{
        margin-left: 160px;
        text-align: left;
    }
    .pickYourDestinationNumber{
        font-size: 2.8rem;
        letter-spacing: 4.725px;
        margin-top: 7.6rem;
    }
    
    .pickYourDestination{
        font-size: 2.8rem;
        letter-spacing: 4.725px;
        margin-top: 7.6rem;
    }
    
    .plannetImage{
        margin-top: 40px;
        margin-left: 50px;
        width: 445px;
        height: 445px;
    }

    .plannetBox{
        height: 445px;
        width: 472px;
        margin-top: 160px;
        transform: translate(100px);
        /* outline: 1px solid white; */
    }

    .navPlannetItems{
        display: inline;
    }

    .navPlannetItems li{
        display: inline;
    }
    
    .navPlannetItems li a{
        font-size: 1.8rem;
        margin-right: 0.8rem;
        letter-spacing: 2.7px;
        display: inline;
    }
    
    .planetHeading{
        font-size: 9rem;
        margin-bottom: 0.8rem;
        text-align: left;
    }
    
    .infoText{
        margin-left: 0;
        font-size: 1.8rem;
        width: 100%;
        text-align: left;
    }
    
    .infoTextLine{
        width: 100%;
    }

    .distanceTextBox h4{
        text-align: left;
    }

    .estTravelTimeTextBox h4{
        text-align: left;
    }

    .distanceTextBox p{
        text-align: left;
    }

    .estTravelTimeTextBox p{
        text-align: left;
    }

    .distanceTextBox{
        width: 45%;
    }

    .estTravelTimeTextBox{
        width: 45%;
    }
    
    footer{
        display: flex;
        width: 573px;
        margin: 0 auto;
        padding-bottom: 1rem;
    }
}

/* Crew */
.crewImage{
    height: 223px;
}

.titleHeading{
    font-weight: 400;
    font-size: 1.6rem;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.5;
}

.crewHeading{
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}